@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: antiquewhite;
}

#wrap{
	width : 1000px;
	height : 800px;
	
	margin : 0 auto;
	text-align : center;
	
	
}
#allcheck{
	width : 500px;
	margin : 0 auto;
}
